$xanthous: rgba(244, 190, 82, 1);
$pumpkin: rgba(253, 112, 29, 1);
$midnight-green: rgba(26, 68, 83, 1);
$dark-purple: rgba(30, 15, 38, 1);
$keppel: rgba(21, 173, 152, 1);
$auburn: rgba(172, 32, 45, 1);

$background-color: rgba(33, 33, 33, 0.8);
$text-color: rgba(245, 182, 115, 1);
