**/*.DS_Store
config/github-copilot/
config/nnn/.lastd
config/nvim/vscode-chrome-debug/
config/nvim/vscode-firefox-debug/
config/nvim/plugin/packer_compiled.lua
config/configstore/update-notifier-@storybook/cli.json
config/configstore/update-notifier-netlify-cli.json
config/ags/node_modules/
config/.wrangler/logs
config/1Password
config/Apple Music
config/BraveSoftware/Brave-Browser
config/Cider
config/GIMP/2.10
config/Kingsoft
config/VSCodium
config/Zoho Mail - Desktop
config/alienfx
config/cava
config/cef_user_data/WidevineCdm
config/chromium
config/dconf
config/gh
config/google-chrome/NativeMessagingHosts
config/google-chrome-beta/NativeMessagingHosts
config/google-chrome-unstable/NativeMessagingHosts
config/gtk-2.0
config/gtk-3.0
config/gtk-4.0
config/inkscape
config/kde.org
config/kdeconnect
config/kdedefaults
config/libaccounts-glib
config/libreoffice/4
config/microsoft-edge-dev/NativeMessagingHosts
config/nextjs-nodejs
config/nvm
config/onlyoffice
config/pulse
config/qBittorrent
config/rog
config/scribus
config/session
config/sh.cider.electron
config/ticktick
config/vivaldi-snapshot/NativeMessagingHosts
config/xfce4/xfconf/xfce-perchannel-xml
config/xsettingsd
config/zed
